version: 2.1

orbs:
  windows: circleci/windows@4.1.1

jobs:
  test:
    description: Setup and run application tests
    executor:
      name: windows/default
    steps:
      - checkout
      - restore_cache:
          keys:
            - dotnet-packages-v1-{{ checksum "Reportity/Reportity/Reportity.csproj" }}
      - run:
          name: "Path List"
          command: dir
      - run:
          name: "Install project dependencies"
          command: dotnet.exe restore Reportity/Reportity/Reportity.csproj
      - save_cache:
          paths:
            - C:\Users\circleci\.nuget\packages
          key: dotnet-packages-v1-{{ checksum "Reportity/Reportity/Reportity.csproj" }}
      - run:
          name: "Print Working Directory"
          command: pwd
  build:
    description: Build application with Release configuration
    executor:
      name: windows/default
    steps:
      - checkout
      - run:
          name: "Build Application according to some given configuration"
          command: dotnet.exe build --configuration Release
workflows:
  test_and_build:
    jobs:
      - test
      - build:
          requires:
            - test
